<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FullCalendar</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div class="header">
        <h1>
            <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a> HTML helper for ASP.NET MVC
        </h1>
    </div>
    <div class="content">
        @Html.FullCalendar(settings =>
        {
            settings.Header = new Header
            {
                Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
                        .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
                Center = new ControlsBuilder().AddTitle(),
                Right = new ControlsBuilder("month,agendaWeek ").AddView(CalendarView.AgendaDay)
            };
            settings.DefaultView = CalendarView.AgendaDay;
            settings.Editable = true;
            settings.AllDaySlot = false;
            settings.Selectable = true;
            settings.SlotDuration = TimeSpan.FromMinutes(15);
            settings.Events = Url.Action("GetDiaryEvents", "Home");
            //settings.EventSources = new string[] { Url.Action("GetDiaryEvents", "Home"), Url.Action("GetDiaryEvents", "Home") };
            //settings.EventRenderWait = 2000;
            //settings.NextDayThreshold = TimeSpan.FromHours(11);
            //settings.EventTextColor = Color.Gray;
            //settings.EventBorderColor = Color.DarkRed;
            //settings.EventBackgroundColor = Color.Brown;
            //settings.EventColor = Color.SlateBlue;
            //settings.Now = DateTime.Today.AddDays(3);
            //settings.WindowResizeDelay = 3000;
            //settings.HandleWindowResize = false;
            //settings.AspectRatio = 3;
            //settings.HiddenDays = new DayOfWeek[] { DayOfWeek.Tuesday, DayOfWeek.Thursday };
            //settings.FirstDay = DayOfWeek.Thursday;
            //settings.SlotLabelInterval = TimeSpan.FromHours(3);
            //settings.SnapDuration = TimeSpan.FromMinutes(10);
            //settings.ScrollTime = TimeSpan.FromHours(8);
            //settings.MinTime = TimeSpan.FromHours(1);
            //settings.MaxTime = TimeSpan.FromHours(20);
            //settings.Footer = new Footer
            //{
            //    Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
            //            .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
            //    Center = new ControlsBuilder().AddTitle(),
            //    Right = new ControlsBuilder("month,agendaWeek ").AddView(CalendarView.AgendaDay)
            //};
            //settings.IsRTL = true;
            //settings.FixedWeekCount = false;
            //settings.WeekNumbers = true;
            //settings.WeekNumbersWithinDays = true;
            //settings.Weekends = false;
            //settings.ShowNonCurrentDates = false;
            //settings.SelectHelper = true;
            //settings.UnselectAuto = false;
            //settings.SlotEventOverlap = false;
            //settings.SlotLabelFormat = "H:mm";
            //settings.AllDayText = "Day";
            //settings.NoEventsMessage = "No events here";
            //settings.ListDayAltFormat = "DDD";
            //settings.ListDayFormat = "DDD";
            //settings.DisplayEventTime = false;
            //settings.DisplayEventEnd = false;
            //settings.ColumnFormat = "ddd M/D";
            //settings.TimeFormat = "H:mm";
            //settings.TitleFormat = "MMMM YYYY";
            //settings.WeekNumberTitle = "Week no.";
            //settings.AllDayDefault = true;
            //settings.StartParam = "startDate";
            //settings.EndParam = "endDate";
            //settings.LazyFetching = false;
            //settings.ForceEventDuration = true;
            //settings.DefaultTimedEventDuration = TimeSpan.FromHours(3);
            //settings.DefaultAllDayEventDuration = TimeSpan.FromDays(2);
            //settings.DefaultDate = DateTime.Today.AddDays(5);
            //settings.NowIndicator = true;
            //settings.SelectMinDistance = 100;
            //settings.SelectLongPressDelay = 1500;
            //settings.EventStartEditable = false;
            //settings.EventDurationEditable = false;
            //settings.DragRevertDuration = 5000;
            //settings.DragOpacity = .2F;
            //settings.DragScroll = false;
            //settings.LongPressDelay = 2000;
            //settings.EventLongPressDelay = 2000;
        })
    </div>
</body>
</html>
