<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FullCalendar</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div class="header">
        <h1>
            <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a> HTML helper for ASP.NET MVC
        </h1>
    </div>
    <div class="content">
        @Html.FullCalendar(settings =>
        {
            //settings.IsRTL = true;
            //settings.FixedWeekCount = false;
            //settings.WeekNumbers = true;
            //settings.WeekNumbersWithinDays = true;B
            //settings.Weekends = false;
            //settings.ShowNonCurrentDates = false;
            //settings.AllDaySlot = false;
            //settings.Selectable = true;
            //settings.SelectHelper = true;
            //settings.UnselectAuto = false;
        })
    </div>
</body>
</html>
