<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FullCalendar</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div class="header">
        <h1>
            <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a> HTML helper for ASP.NET MVC
        </h1>
    </div>
    <div class="content">
        @Html.FullCalendar(settings =>
        {
            settings.Header = new Header
            {
                Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
                        .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
                Center = new ControlsBuilder().AddTitle(),
                Right = new ControlsBuilder("month,agendaWeek ").AddView(CalendarView.AgendaDay)
            };
            settings.DefaultView = CalendarView.AgendaDay;
            settings.Editable = true;
            settings.AllDaySlot = false;
            settings.Selectable = true;
            settings.SlotDuration = TimeSpan.FromMinutes(15);
            //settings.SlotLabelInterval = TimeSpan.FromHours(3);
            //settings.SnapDuration = TimeSpan.FromMinutes(10);
            //settings.ScrollTime = TimeSpan.FromHours(8);
            //settings.MinTime = TimeSpan.FromHours(1);
            //settings.MaxTime = TimeSpan.FromHours(20);
            //settings.Footer = new Footer
            //{
            //    Left = new ControlsBuilder().AddButton(HeaderButton.Prev).AddSeparator(HeaderSeparator.Adjacent)
            //            .AddButton(HeaderButton.Next).AddSeparator(HeaderSeparator.Gap).AddButton(HeaderButton.Today),
            //    Center = new ControlsBuilder().AddTitle(),
            //    Right = new ControlsBuilder("month,agendaWeek ").AddView(CalendarView.AgendaDay)
            //};
            //settings.IsRTL = true;
            //settings.FixedWeekCount = false;
            //settings.WeekNumbers = true;
            //settings.WeekNumbersWithinDays = true;
            //settings.Weekends = false;
            //settings.ShowNonCurrentDates = false;
            //settings.SelectHelper = true;
            //settings.UnselectAuto = false;
            //settings.SlotEventOverlap = false;
            //settings.SlotLabelFormat = "H:mm";
            settings.AllDayText = "Day";
        })
    </div>
</body>
</html>
