<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FullCalendar</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
    @*<script>
            var EventClick = function (calEvent, jsEvent, view) {
                alert('Event: ' + calEvent.title);
                alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
                alert('View: ' + view.name);

                // change the border color just for fun
                $(this).css('border-color', 'red');
            };

            var EventResize = function (event, delta, revertFunc) {
                alert(event.title + " end is now " + event.end.format());

                if (!confirm("is this okay?")) {
                    revertFunc();
                }

            }
        </script>*@
</head>
<body>
    <div class="header">
        <h1>
            <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a> HTML helper for ASP.NET MVC
        </h1>
    </div>
    <div class="content">
        @Html.Partial("_FullCalendar")
    </div>
</body>
</html>
