<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FullCalendar</title>
    @Scripts.Render("~/bundles/scripts")
    @Styles.Render("~/bundles/styles")
</head>
<body>
    <div class="header">
        <h1>
            <a href="https://fullcalendar.io/" target="_blank">FullCalendar</a> HTML helper for ASP.NET MVC
        </h1>
    </div>
    <div class="content">
        @Html.FullCalendar()
    </div>
</body>
</html>
